<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITestsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A0E6A011DB229D6004F6DAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A0E6A1A1DB229D7004F6DAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A0E6A251DB229D7004F6DAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
